/* import font from font css */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* Start of Navbar */

.header-area .main-menu .nav-item{
    margin: 1rem ;
}
.header-area .main-menu .navbar {
    padding: 0.2rem 5rem;
}
.header-area .main-menu .nav-item .nav-link{
    font-family: var(--roboto);
    color: var(--title-color);
}
.navbar_fixed{
  position: fixed;
  width: 100%;
  top:-1px;
  left: 0;
  right:0;
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
  z-index: 999;
  transition: backgroud 1s ease;
}
/* End of Navbar */

/* Start of Home */
.site-main .home-area .carousel-inner img{
    width: 100%;
    height: 90vh;
}
/* End of Home */


/* Start of Services */
.site-main #service {
  background: #eee !important;
}
/*
.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}*/

.site-main .service-area
{
  padding: 60px 0;
}

.site-main .service-area .section-title {
  text-align: center;
  /* color: #28a9e2; */
  color: var(--title-color);
  margin-bottom: 50px;
  text-transform: uppercase;
}
.site-main .service-area .backside p{
  text-align: justify;

}

.site-main .service-area .card {
  border: none;
  background: #ffffff;
}

.site-main .service-area .image-flip:hover .backside,
.site-main .service-area .image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.site-main .service-area .image-flip:hover .frontside,
.site-main .service-area .image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.site-main .service-area .mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.site-main .service-area .frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.site-main .service-area .backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.site-main .service-area .frontside,
.site-main .service-area .backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.site-main .service-area .frontside .card,
.site-main .service-area .backside .card {
  min-height: 312px;
}

.site-main .service-area .backside .card a {
  font-size: 18px;
  color: #28a9e2 !important;
}

.site-main .service-area .frontside .card .card-title,
.site-main .service-area .backside .card .card-title {
  color: #28a9e2 !important;
}

.site-main .service-area .frontside .card .card-body img {
  width: 120px;
  height: 120px;
  /* border-radius: 50%; */
}
/* End of Services */

/* Start of Product section */
.site-main .product .container{
  margin-top: 8%;
}
.site-main .product .inner{
  overflow: hidden;

}
.site-main .product .inner img{
  transition: all 1.5s ease;
   width: 100%; 
   height: 300px;
}

.site-main .product .inner:hover img{
  transform: scale(1.3);
}
.site-main .product .modal-content iframe{
margin: 0 auto;
display: block;
}
.site-main .product .btn{
  background-color: var(--primary-color);
}

.site-main .product h1{
  padding-bottom: 4rem;
}


/* End of Product section */
.site-main .event-area .element-item img {
  width: 100%;
}
.site-main .event-area {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.site-main .event-area .button-group button{
  background: transparent;
  border: none;
  font: normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
}
.site-main .event-area .button-group button+button{
  padding-left: 3rem;
}
.site-main .event-area button:focus,
.site-main .event-area button:active
.site-main .event-area button:hover
.site-main .event-area .btn:active,
.site-main .event-area .btn.active{
outline: 0px !important;
box-shadow: none !important;
}
.site-main .event-area .btn-success{
background: #28a9e2;
border-color: #28a9e2;
}


/* Start of Event Section */


/* end of Event Section */

/* Start of Testimonial */
.site-main .testimonial-area{
  /* font-family: var(--roboto);
  background-image: url(./images/testimonials/background.png);
  background-size: cover; */
  /* height: 90vh; */
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.site-main .testimonial-area #customers-testimonial{
  padding: 40px 0;
}

.site-main .testimonial-area .testomonial img{
  max-width: 159px;
  margin: 0 auto 0 auto;
  border: 2px solid var(--primary-color);
  padding: 5px;
  margin-bottom: 13px;
  border-radius: 58px;
}

.site-main .testimonial-area .testomonial blockquote{
  border: 0;
  font-family: var(--roboto);
  font-size: italic;
  color:var(--title-color);
  padding: 5px 15px;
  position: relative; 
}

/* .site-main .testimonial-area .testomonial blockquote:before,
.site-main .testimonial-area .testomonial blockquote:after{
  font-size: 80px;
  font-size: normal;
  line-height: 1;
  width: 30px;
  height: 30px;
  position: absolute;
} */


.site-main .testimonial-area .testomonial blockquote::before{
  content: "\201C";
  top: 0;
  left: 100px;

}
.site-main .testimonial-area .testomonial blockquote::after{
  content: "\201D";
  bottom: 0;
  right: 100px;
  
}


.site-main .testimonial-area .testomonial .testimonial-author p{
  color: var(--roboto);
  font-size: 17px;
}
.site-main .testimonial-area .testomonial .testimonial-author p strong{
  display: block;
}

.site-main .testimonial-area h3{
  color: black;
  text-transform: uppercase;
}
  /* 
@media only screen and (max-width: 768px)
{
  .site-main .testimonial-area .testomonial blockquote::before{
    content: "\201C";
    top: 0;
    left: 10px;
  
  }
  .site-main .testimonial-area .testomonial blockquote::after{
    content: "\201D";
    bottom: 0;
    right: 10px;
    
  }
} */

/* End of Testimonial */

/* Start of Blog */

.site-main .blog-area .single-blog{
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  padding:10px;
  margin-top: 30px;
  background-color: #ffff;
}
.site-main .blog-area h1{
  font-family: var(--roboto);
}
.site-main .blog-area{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.site-main .blog-area .single-blog:hover{
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  transform: scale(1.1);

}
.site-main .blog-area .single-blog img{
  width: 100%;
  height: 250px;
}
.site-main .blog-area .blog-meta{
  font-size: 14px;
  margin-bottom: 2px;
  font-family: var(--roboto);
}
.site-main .blog-area .single-blog span{
  float: right;
  font-size: 12px;
  color: var(--primary-color);
  font-family: var(--roboto);
}
.site-main .blog-area .blog-text{
  font-size: 14px;
  text-align: justify;
  font-family: var(--roboto);
}
.site-main .blog-area .single-blog h2{
  margin-top: 10px;
  font-size: 16px;
  color: var(--primary-color);
  font-family: var(--roboto);
}
.site-main .blog-area .single-blog a{
  text-decoration: none;

}
.site-main .blog-area .read-more-btn{
   background-image: linear-gradient(to right,#28a9e2,#28a9e2);
   padding: 5px 12px 8px; 
  border-radius: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
  border: none !important;
  font-family: var(--roboto);
}
.site-main .blog-area .read-more-btn:hover{
  background-image: linear-gradient(to right,#00b128,#00b128);
  text-decoration: none;
  color: #fff;
}
/* End of Blog */

/* Start of About us */

.site-main .team-area{
  margin: 75px 0;
}
.site-main .team-area h1{
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: #333;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.site-main .team-area h1:after{
  content: '';
  background: #333;
  display: block;
  height: 3px;
  width: 150px;
  margin: 10px auto;
}

.site-main .team-area .profile{
  margin-top: 25px;

}
.site-main .team-area .profile .img-box{
  opacity: 1;
  display: block;
  position: relative;
}
.site-main .team-area .profile h2{
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
  color: var(--primary-color);
}
.site-main .team-area .profile h3{
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}
.site-main .team-area .profile .img-box img{
  width: 100%;
  height: 350px;
}
.site-main .team-area .profile .img-box:after{
  content: '';
  opacity: 0;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.site-main .team-area .profile .img-box ul{
  margin: 0;
  padding: 20px 0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.site-main .team-area .profile .img-box ul li{
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 3px;
  padding: 3px;
  display: inline-block;
}
.site-main .team-area .profile .img-box a{
  color: #fff;
}
.site-main .team-area .profile .img-box:hover:after{
  opacity: 1;
}
.site-main .team-area .profile .img-box:hover ul{
  opacity: 1;
}
.site-main .team-area .profile .img-box a:hover li{
  color: #28a9e2;
  border: 1px solid #28a9e2;
}
/* .site-main .team-area .profile:hover{
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  transform: scale(1.1);

  
} */
/* End of About us */





/* Start Contact us section */
 
.site-main .contact .second-portion
{
  margin-top:50px; 
}
/* @import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"; */
/* @import "http://fonts.googleapis.com/css?family=Roboto:400,500"; */
.box > .icon { text-align: center; position: relative; }
		.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #00bfff; vertical-align: middle; }
		.box > .icon:hover > .image { background: #333; }
		.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
		.box > .icon:hover > .image > i { color: white !important; }
		.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
		.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
		.box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }
		.box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
		.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
		.box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
		.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
        .box .space { height: 30px; }
        
@media only screen and (max-width: 768px)
{

.site-main .contact .second-portion
{
margin-top:25px; 
}
}
.site-main .contact .card-body button{
    background-color:#00bfff;
    margin: 10px;
}
.site-main .contact{
  padding-top: 5rem;
  
}


/* End Contact us section */


/* Footer Area */
footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: grey;
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}

footer.footer-area .para{
    color: black;
}

/* End Footer Area */




/* smooth Scrolling effect */
html {
    scroll-behavior: smooth;
  }


